@media (max-width: 780px) {

    p{
        font-size: 20px;
    }

}
@media (min-width:520px) {

    p{
        font-size: 5px;
    }

}
@media(orientation: landscape){

    body{
        background-color: aquamarine;
    }

}
.box{
    height: 1000%;
    width: 100px;
    background-color: green;
}
@media(min-width: 768px){
    .box{
        background-color: red;
    }
}
li{
    list-style-type: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
@media(max-width: 600px){
    nav ul{
        display:flex;
        justify-content: space-between;
        background-color: lightgray;
    }
}